<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="icon" href="/logo.png"/>
    <title>TaskMate: SmartWork over HardWork</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>

</head>
<body>
     
    <div class="main">
        
        <div class="main-content">
         <%- include("../includes/navbar.ejs") %>
    <%- include("../includes/flash.ejs") %>

    <%-body%>
</div>
 <div class="side sidebar">

                 <a  class="cal green" href="/List/new">
                <div >
                <h4><i class="fa-solid fa-plus"></i> &nbsp; Add a new task</h4>
                </div>
                </a>
                <a class="cal levender" href="#">
                <div > 
                <h4><i class="fa-solid fa-table-list" style="align-items: center;justify-content: space-between;"></i> &nbsp; Tasks Completed: <strong class="completed-count"><%= currUser ? currUser.completedCount : 0 %></strong></h4>
                </div>
                </a>
               
                <a class="cal black" href="#">
  <div class="thought-container">
    <h4 id="thought">
      <i class="fa-regular fa-face-grin-beam"></i> &nbsp; Nice Thought
    </h4>
  </div>
</a>
            
              <a class="cal levender" href="/List/calender">  <div > 
                <h4><i class="fa-solid fa-calendar-days"></i> &nbsp; Calendar</h4>
                </div></a>
       
        </div>  
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  <script src="/js/boiler.js"></script>
<script src="/js/nicethought.js"></script>
</body>
</html>